# Dependências
node_modules/
/frontend/node_modules
/backend/node_modules

# Arquivos de ambiente
.env
*.env
backend/.env
frontend/.env

# Logs
logs/
*.log
npm-debug.log*

# Arquivos do sistema
.DS_Store
Thumbs.db

# Builds
dist/
build/