@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos base */
@layer base {
  * {
    font-family: "Poppins", sans-serif;
  }

  body {
    background-color: #ffe4e1;
    color: #2d2d2d;
  }
}

/* Componentes */
@layer components {
  .container-custom {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }

  .transition-smooth {
    @apply transition-all duration-300 ease-in-out;
  }
}
